<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center">
        Time to start a workout!
      </mat-card-title>
      <mat-card-content fxLayoutAlign="center">
        <!--availableExcercisesList loading is completed, stop showing the mat-spinner, 
          show mat-form-field and the start button -->
        <!-- if exercises array is not null (null when fetching availableExcercisesList is failed), 
          show mat-form-field and the start button  -->
        <mat-form-field *ngIf="!(isLoading$ | async) && exercises">
          <mat-select
            placeholder="Choose exercise"
            ngModel
            name="exercise"
            required
          >
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>

            <!-- <mat-option>
              None
            </mat-option>
            <mat-option value="crunches">
              Crunches
            </mat-option>
            <mat-option value="touch-toes">
              Touch toes
            </mat-option> -->
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!(isLoading | async)">
        <!-- <button type="submit" mat-raised-button (click)="onStartTraining()">
          Start
        </button> -->
        <button
          *ngIf="exercises"
          type="submit"
          mat-raised-button
          [disabled]="f.invalid"
        >
          Start
        </button>
        <!-- 
        show the start button if exercises array have availableExcercisesList
        show the fetch again button if if exercises array don't have availableExcercisesList i.e null. -->
        <button
          *ngIf="!exercises"
          type="button"
          mat-raised-button
          color="warn"
          (click)="fetchExercises()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
